{% extends "::base.html.twig" %}

{% block body %}
<h1>Libros</h1>

<!-- Listado de libros paginados -->
<ul>
    {% for book in elements %}
        <li>{{ book }}</li>
    {% else %}
        <li>No existen libros.</li>
    {% endfor %}
</ul>



<!-- Paginador -->
{{ simple_paginator_render('javiacei_book_list') }}

{% endblock %}
